@import "../../../styles/shreddit-variables";

.openFret {
  border-bottom: 6px double $custom-dark;
}

.firstStringFret {
  border-left: 1px solid $custom-dark;
}

.firstFret {
  border-right: 1px solid $custom-dark;
  border-top: 1px solid $custom-dark;
}

.fret {
  border-right: 1px solid $custom-dark;
  border-top: 1px solid $custom-dark;
}

.lastFret {
  border-bottom: 1px solid $custom-dark;
}

@media screen and (min-width: 992px) {
  .fret {
  }

  .openFret {
    border-right: 6px double $custom-dark;
    border-bottom: none;
  }

  .firstStringFret {
    border-top: 1px solid $custom-dark;
    border-left: none;
  }

  .lastStringFret {
    border-bottom: 1px solid $custom-dark;
  }

  .firstFret {
    border-left: 1px solid $custom-dark;
  }

  .lastFret {
    // border-bottom: none;
  }
}
