@import "./shreddit-variables";

:export {
  fret: $fret-color;
  inlayFret: $inlay-fret-color;
  fretBorder: $fret-border-color;
  p1: $P1-color;
  m2: $m2-color;
  m2: $M2-color;
  m3: $m3-color;
  m3: $M3-color;
  p4: $P4-color;
  a4: $A4-color;
  d5: $d5-color;
  p5: $P5-color;
  a5: $A5-color;
  m6: $m6-color;
  m6: $M6-color;
  m7: $m7-color;
  m7: $M7-color;
}
