$P1-color: #eeeb2c;
$m2-color: #ec9828;
$M2-color: #d95628;
$m3-color: #d3263a;
$M3-color: #ca1574;
$P4-color: #75193e;
$A4-color: #5c205b;
$d5-color: #5c205b;
$P5-color: #312d5c;
$A5-color: #1c72a5;
$m6-color: #1c72a5;
$M6-color: #0da5a6;
$m7-color: #0fa96d;
$M7-color: #67bb41;