.stringedInstrument {
  min-height: 75vh;
  // background-image: url("../../../public/images/woodGrain.png");
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.neckContainer {
  width: 100%;
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .stringedInstrument {
    min-height: 50vh;
  }
}
